@font-face{
	font-family: 'Raleway-Italic';
	src: url('Raleway-Italic.ttf');
}
@font-face{
	font-family: 'Raleway-Light';
	src: url('Raleway-Light.ttf');
}
@font-face{
	font-family: Raleway-Medium;
	src: url('Raleway-Medium.ttf');
}